.cart-items-container {
  padding: 2em 1em;
  @media (min-width: 767.98px) {
    border-right: 1px solid black;
  }
}
.cart-items-container i {
  cursor: pointer;
  background-color: $secondary;
  border-radius: 50%;
  font-size: 1em;
}

.cart-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.cart-products {
  text-align: center;
}

.cart-products hr {
  border: 1px solid #111;
  width: 80%;
  margin: 1em auto;
}

.cost-overview {
  padding: 2em 0.5em;
}
