.cart-items-container {
  border-right: 1px solid black;
  padding: 2em;
}
.cart-items-container i {
  cursor: pointer;
  background-color: $secondary;
  border-radius: 50%;
  font-size: 1em;
}

.cart-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.cart-products {
  align-items: baseline;
  text-align: center;
}

.cart-products hr {
  border: 1px solid #111;
  width: 80%;
  margin: 1em auto;
}
