$primary: #3730f2;
$secondary: #dbd0f2;
$secondary-dark: #beb6f2;
$light: #e5f280;
$dark: #3730f2;
$danger: $light;

$navbar-dark-color: white;
$navbar-dark-hover-color: $light;
$navbar-dark-active-color: white;
