.hero-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.index-info {
  background-color: $secondary;
  font-size: 1.2em;
  font-weight: bold;
  justify-content: space-between;
  padding: 2em 0.5em;
  border-radius: 4px;
  margin: 2em 0;
  text-align: center;
}
