.hero-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.index-info {
  background-color: $secondary;
  font-size: 1.2em;
  justify-content: space-evenly;
  padding: 2em 0.5em;
  border-radius: 4px;
  margin: 2em 0;
}
