h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 2.5em;
}

h1,
h2 {
  margin: 1em 0;
}
.breadcrumb {
  margin-top: 2em;
}

.footer {
  background-color: $light;
  display: flex;
  justify-content: space-between;
  padding: 1.2em;
}
.footer a {
  color: #111;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
