.navbar > .container-fluid {
  display: flex;
}

.navbar-brand {
  font-family: "kyrial-display-pro", sans-serif;
  color: white;
}

.navbar i {
  background-color: $secondary-dark;
  padding: 0.5em;
  border-radius: 50%;
  &:hover {
    background-color: $light;
    color: $primary;
  }
}
