.product-card {
  margin-bottom: 4em;
}
.product-card a {
  color: #111;
  text-decoration: none;
}
.card {
  height: 400px;
}
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.add-bag-btn {
  display: block;
  width: 100%;
}
