.product-card {
  margin-bottom: 3em;
}
.product-card a {
  color: #111;
  text-decoration: none;
}
.card {
  height: fit-content;
  border: none;
}
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 150px;
}
.add-bag-btn {
  display: block;
  width: 100%;
}
